ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

ul li {
  list-style: none;
  text-align: center;
  color: #515154;
  opacity: 0.7;
  font-size: 14px;
}
h3 {
  color: #515154;
  opacity: 0.7;
  padding: 0px;
  font-size: 18px;
}
h6 {
  color: #515154;
  opacity: 0.7;
}

span {
  color: #515154;
}
li::first-letter {
  text-transform: capitalize;
}

.header {
  display: block;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 10px;
  color: #ec6e4c;
  opacity: 0.7;
}

.App {
  display: block;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #f1f1f1;
  border-radius: 50px;
  max-width: 500px;
  margin-top: 10px;
  background-image: "../Images/weather app background.png";
  margin-top: 50px;
}

.row {
  box-sizing: border-box;
  margin-top: -100px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 100px auto;
}

.temperature .units {
  color: #ec6e4c;
  opacity: 0.8;
  font-size: 16px;
  position: relative;
  top: 20px;
  margin-left: 15px;
}
#temperature {
  font-size: 65px;
  color: #515154;
  opacity: 0.7;
  font-weight: normal;
  padding: 0px;
}
#my-name {
  color: #ec6e4c;
  opacity: 0.7;
  font-style: italic;
  margin: 0 auto;
}
#my-link {
  color: #5a6276;
  font-style: bold;
}

#description-weather {
  color: #ec6e4c;
  opacity: 0.7;
  font-size: 18px;
  position: relative;
  top: -10px;
  left: 5px;
  text-transform: capitalize;
}
#weather-description {
  color: #515154;
  opacity: 0.7;
  position: relative;
  right: -20px;
  font-weight: bolder;
  top: 10px;
}

.temperature a {
  color: #ec6e4c;
  opacity: 0.7;
  text-decoration: none;
  font-weight: normal;
}
.temperature .active {
  color: #515154;
  opacity: 0.7;
  text-decoration: none;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature {
  color: #515151;
  opacity: 0.7;
  margin-top: 10px;
  font-size: 14px;
}
#all-forecast {
  margin-top: 30px;
}
#fahrenheit-link {
  margin-left: 20px;
  margin-top: -40px;
}
#celsius-link {
  margin-left: 0px;
}
#icon {
  margin-left: -20px;
  padding: 0px;
}
#city {
  margin-bottom: 0px;
}
.row {
  margin-top: 20px;
}
#search-form {
  box-sizing: border-box;
}
#search-button {
  color: white;
  background-color: #515154;
  opacity: 0.8;
  border: none;
  padding: 3px 20px;
  border-radius: 5px;
}
#form {
  display: block;
  text-align: center;
}
